.feature-box{
	float :left;
	height: 410px;
	width: 290px;
	margin-right: auto;
	margin-left: 1.75%;
	margin-bottom: 2%;
	background-color: white;

}

.feature-box-model {
	text-align: center;
	margin-top: 5%;
	margin: 5px;
}

.feature-box-price {
	margin: 5px;
	text-align: center;
}

.feature-box button {
	align-self: center;
	display: block;
	font-size: 11pt;
	color: #FFFFFF;
  	padding: 10px 20px;
  	margin-top: 10.5%;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
	/*	background-color: black;*/
 	background-color: #00c7ab; /*colour needs adjusting*/
  	border: 2px solid #e7e7e7;
  	border-radius: 5px;
		margin-left: 81px;


}

.feature-box img {
	display: block;
	margin:0 auto;
	width: 240px;
	height: 223px;
	margin-top: 10%;

}

.feature-box button:hover {
  background: #17d1b2;
  background-image: -webkit-linear-gradient(top, #17d1b2, #1ce3bb);
  background-image: -moz-linear-gradient(top, #17d1b2, #1ce3bb);
  background-image: -ms-linear-gradient(top, #17d1b2, #1ce3bb);
  background-image: -o-linear-gradient(top, #17d1b2, #1ce3bb);
  background-image: linear-gradient(to bottom, #17d1b2, #1ce3bb);
  text-decoration: none;
}

.shadow{

	-moz-box-shadow: 5px 5px 8px 10px #ccc;
	-webkit-box-shadow: 5px 5px 8px 10px #ccc;
	 box-shadow: 0px 0px 8px 2px rgba(0,0,0,.35);
	 border-radius: 9px;
}