

.clearboth {
	clear: both;

}
.footer-banner {
	position: relative;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgba(255, 0, 0, 0);
	text-align: center;
	
}


.footer-banner-text {
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: lighter;
    padding-top: 1%;
    padding-bottom: 10%;
 }

 /* test h1 design, needs modification */
 .footer-banner-text h1{
     font-size: 32pt;
     font-weight: bolder;
     text-align: center;
     text-anchor: middle;
 }



 /* Individual page modifications */

.home-footer-banner{
    background-image: url("../assets/images/footer-banner-home.jpg");
}

.about-footer-banner{
	background-image: url("../assets/images/footer-banner-about.jpg");

}

.contact-footer-banner{
	background-image: url("../assets/images/footer-banner-contact.jpg");

}
