

/* classes used solely at the Home page */

.banner-text {
    color: #FFFFFF;
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-size: 16pt;
}


.content{
	align-items: center;

}


/* CSS for the Header Banner integrating all 3 types */

.header-banner {
    position: relative;
    background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgba(255,0,0,0);
	text-align: center;

}

.banner-text-heading {
    color: #FFFFFF;
    font-size: 32pt;
    
 }


.home-banner{
    background-image: url("../assets/images/header-banner-home.jpg");
}

.about-banner{
    
	background-image: url("../assets/images/header-banner-about.jpg");
}

.contact-banner{
    background-image: url("../assets/images/header-banner-contact.jpg");
}

.home-banner-text-heading{
    padding: 13% 0 0 0;
}
.about-banner-text-heading{
    padding: 9% 0 10% 0;
}